.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  justify-content: center;
  align-items: center;
}
